.Featured{
    padding: 40px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{
        width: 150px;
        padding: 20px;
    }
}