.home{
    
    .loading2{
        border-bottom: 2px solid #F9D2CD;
        height: 360px;
        width: 360px;
        border-radius: 50%;
        animation: spin 3s linear infinite; 
    }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spin-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Spin animation for the outer arc */
@keyframes spin-outside {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/* Spin animation for the inner arc (reverse spin) */
@keyframes spin-inside {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(-360deg);
    }
}