.intro{
    background-color: #121E2C;
    max-width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    h1{
        padding: 10px;
        color: white;
        font-size: 70px;
        margin-bottom: 0;
        padding-bottom:10px ;
        border-bottom: 5px solid #50C480;
    }
    .description{
        padding: 10px ;
        color: rgb(198, 228, 159);
        font-size: 30px;
        margin-top: 0;
        padding-top: 15px;
        
    }
    .links{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F9D2CD;
        flex-direction: column
    }

}