.promo{
    max-width: 100vw;
    width: 90vw;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    /* border: 2px solid red; */
    .des{
        padding-right: 78px;
        /* margin-right: 10px; */
        /* border-right: 5px solid  #c5f1c5; */
    }
    .vid{
        /* border: 2px solid red; */
        border-radius:20px ;
        margin: 10px;
        iframe{
            width: 700px;
            /* margin-left: 10px; */
            padding: 10px;
            border-radius:30px ;
        }
    }
    h1{
        
        font-size: 60px;
        margin-bottom: 0;
    }
    p{
        padding-top: 25px;
        margin-top: 0;
        font-size: 20px;
    }
}